<h1>Add a book you've read</h1>

<form class="" action="/books" method="post">
<label for="">Title:</label>
<input type="text" name="title" value="">
<label for="">Author:</label>
<input type="text" name="author" value="">
<input type="submit" name="" Value="Add a new book">
</form>